.ducati{background-image: url(../..//resources/images/moto-ducati.jpg)!important; height: 100%; width: 100%; opacity: 0.2}
.logo-preto{background-image: url(../..//resources/images/background/fundoPreto.jpg)!important; height: 100%; width: 100%; opacity: 0.2}
.galaxia{background-image: url(../..//resources/images/background/galaxia.jpg)!important; height: 100%; width: 100%; }
.galaxia{background-image: url(../..//resources/images/background/galaxia.jpg)!important; height: 100%; width: 100%; }

